.terraform.lock.hcl
*.tfstate
*.terraform
*.swp
.DS_Store
terraform/cluster.tfvars
terraform/ndfc/cluster.tfvars
*.crt
*.key
*.csr 
apic.yaml
ansible/roles/calico/files/calicoctl
plan
id_rsa
__pycache__
labs
*.ova
*.backup
terraform/static/manifests/*
ansible/inventory/group_vars/all.yml
ansible/roles/primary_master/files/*
terraform/ndfc/cluster.tfvars
terraform/.terraform.tfstate.lock.info
terraform/.env
ansible/inventory/nodes.ini
