.terraform.lock.hcl
*.tfstate
*.terraform
*.swp
.DS_Store
terraform/cluster.tfvars
*.crt
*.key
*.csr 
apic.yaml
ansible/roles/calico/files/calicoctl
plan
id_rsa
__pycache__
labs
*.ova
*.backup
terraform/static/manifests/*
