https://github.com/datacenter/pyaci/archive/master.zip
Flask
pyOpenSSL
requests
urllib3
turbo_flask
ipaddress
pyVmomi
pyVim
shelljob
ansible
python-dateutil
turbo_flask
pyVmomi
netaddr
pyhcl
jinja2
pytest
selenium
gunicorn
gevent
python-dotenv