{% for leaf in anchor_nodes %}
---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: "{{ leaf.id }}"
spec:
  peerIP: "{{ leaf.primary_ip }}"
  asNumber: {{ aci_as }}
  password:
    secretKeyRef:
      name: bgp-secrets
      key: rr-password
{% endfor %}