{% for leaf in anchor_nodes %}
---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: "{{ leaf.id }}"
spec:
  peerIP: "{{ leaf.primary_ip }}"
  asNumber: {{ aci_as }}
  nodeSelector: rack_id == "{{ leaf.rack_id }}"
{% if bgp_pass %}
  password:
    secretKeyRef:
      name: bgp-secrets
      key: rr-password
{% endif %}

{% if leaf.primary_ipv6 %}
---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: "{{ leaf.id }}v6"
spec:
  peerIP: "{{ leaf.primary_ipv6 }}"
  asNumber: {{ aci_as }}
  nodeSelector: rack_id == "{{ leaf.rack_id }}"
{% if bgp_pass %}
  password:
    secretKeyRef:
      name: bgp-secrets
      key: rr-password
{% endif %}
{% endif %}
{% endfor %}
