{% for node in groups ['k8s_nodes'] %}
---
apiVersion: projectcalico.org/v3
kind: Node
metadata:
  name: {{ node }}
spec:
  bgp:
    asNumber: {{ calico_as }}
    ipv4Address: {{ hostvars[node]['ansible_host'] }}
{% endfor %}
