[Unit]
Description=Set IP from vApps Options
Before=network-pre.target
Wants=network-pre.target

[Service]
ExecStart=/usr/bin/python3 /home/cisco/akb-main/packer/vapp_customize.sh
WorkingDirectory=/home/cisco/akb-main/packer
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
[Install]
WantedBy=multi-user.target