[Unit]
Description=Set IP from vApps Options
Before=network-pre.target
Wants=network-pre.target

[Service]
ExecStart=/home/cisco/akb/packer/vapp_customize.sh
WorkingDirectory=/home/cisco/akb/packer
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
[Install]
WantedBy=multi-user.target