* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

.c549 {
   height: 100%;
}

.c1141 {
   min-height: 100px;
}

.chevron ul.tabs li.active a {
   background-color: #017cad !important;
   opacity: 1 !important;
   color: #ffffff;
   box-shadow: none !important;
}

.chevron ul.tabs li a {
   height: 56px; 
   min-width: 90% !important;
   padding: 10px 6px;
   background-color: #ffffff;
   opacity: 1 !important;
   color: #58585d;
   text-align: center;
   position: relative;
   line-height: 16px;
   font-size: 12px;
   cursor: pointer;
   flex: 1 !important;
   flex-shrink: 1 !important;
   flex-wrap: wrap !important;
   display: flex !important;
   justify-content: center !important;
}