<turbo-frame id="anchor_nodes">

    <div class="form-group__text"><textarea rows="25" class="textarea" name="anchor_nodes" id="anchor_nodes">{{ anchor_nodes }}</textarea>
        <label>
            Anchor nodes: JSON formatted entry defining the information about the ACI nodes
            <span data-title="You can enter the JSON manually or use the form on the right to add one node at a time.">ⓘ</span>
        </label>
    <div class="container text-danger text-bold"> {{ error }}</div>
    </div>

</turbo-frame>

