<turbo-frame id="template-upload-folder">
<div class="container">
    <div class="form-group base-margin-bottom">
       <div class="form-group__text">
          <select id="vm_folder" name="vm_folder">
             {% for o in vc_folders %}
             <option name="{{ o }}">{{ o }} </option>
             {% endfor %}
          </select>
          <label for="vm_folder">vCenter Destination Folder for K8S VMs:
             <span data-title="Destination Folder for you K8s VMs, must be pre-existing. Subfolders are not supported currently">ⓘ</span> 
          </label>
       </div>
    </div>
 </div>
 <div class="container">
   <div class="form-group base-margin-bottom">
      <div class="form-group__text">
         <label  for="datastore">vCenter Datastore Name:
            <span data-title="The destination datastore for you K8s VMs, ideally a shared DataStore is reccomneded">ⓘ</span> 
         </label>
         <input list="datastore_list" id="datastore" name="datastore" autocomplete="off">
         <datalist id="datastore_list">
            {% for o in dss %}
            <option value="{{ o }}">
               {% endfor %}
         </datalist>
      </div>
   </div>
</div>
</turbo-frame>