<turbo-frame id="vc">
   <!--<div class="container">
      <div class="form-group base-margin-bottom">
         <div class="form-group__text">
            <label  for="datastore">vCenter Datastore Name:
               <span data-title="The destination datastore for you K8s VMs, ideally a shared DataStore is reccomneded">ⓘ</span> 
            </label>
            <input list="datastore_list" id="datastore" name="datastore">
            <datalist id="datastore_list">
               {% for o in dss %}
               <option value="{{ o }}">
                  {% endfor %}
            </datalist>
         </div>
      </div>
   </div>-->
   <div class="container">
      <div class="form-group base-margin-bottom">
         <div class="form-group__text">
            <select id="cluster" name="cluster">
               {% for o in clusters %}
               <option name="{{ o }}">{{ o }} </option>
               {% endfor %}
            </select>
            <label for="cluster">vCenter Cluster Name:</label>
         </div>
      </div>
   </div>

   <div class="container">
      <div class="form-group base-margin-bottom">
         <div class="form-group__text">
            <label for="port_group">vCenter Port Group Name:
               <span data-title="The port group name to be used for connectivity between the K8s VMs and the border leaves. This must be pre configured" >ⓘ</span> 
            </label>
            <input list="port_group_list" id="port_group" name="port_group" />
            <datalist id="port_group_list">
               {% for o in pgs %}
               <option value="{{ o }}">
                  {% endfor %}
            </datalist>
         </div>
      </div>
   </div>
<div class="container">
   <div class="form-group base-margin-bottom">
      <div class="form-group__text datalist">
         <label for="vm_templates">Select the VM templates for your K8s Cluster:
            <span data-title="Must be deployed on vCenter">ⓘ</span> 
         </label>
         <input list="vms_list" id="vm_templates" name="vm_templates"/>
         <datalist id="vms_list">
            {% for o in vm_templates %}
            <option value="{{ o }}">
               {% endfor %}
         </datalist>
      </div>
   </div>
</div>
<div class="container">
   <div class="form-group base-margin-bottom">
      <div class="form-group__text">
         <select id="vm_folder" name="vm_folder">
            {% for o in vc_folders %}
            <option name="{{ o }}">{{ o }} </option>
            {% endfor %}
         </select>
         <label for="vm_folder">vCenter Destination Folder for K8S VMs:
            <span data-title="Destination Folder for you K8s VMs, must be pre-existing. Subfolders are not supported currently">ⓘ</span> 
         </label>
      </div>
   </div>
</div>
</turbo-frame>
