<turbo-frame id="vrf">
    <div class="container">
        <div class="form-group base-margin-bottom">
        <div class="form-group__text">
            <label for="vrf_name">VRF name:
                <span data-title="Pick a pre-existing VRF for you Calico Cluster.">ⓘ</span>

            </label>
            <select id="vrf_name" name="vrf_name">
                {% for o in vrfs %}
                <option name="{{ o }}">{{ o }} </option>
                {% endfor %}
            </select> 
        </div>
        </div>
    </div>

    <div class="container">
        <div class="form-group base-margin-bottom">
           <div class="form-group__text">
              <label for="contract" >Contract Name for Ext EPG :
                <span data-title="Must exist and applied manually to any EPG that needs to speak with the Catch All External EPG define above">ⓘ</span>
              </label>
              <select  id="contract" name="contract" >
                {% for o in contracts %}
                <option name="{{ o }}">{{ o }} </option>
                {% endfor %}
            </select> 
           </div>
        </div>
     </div>
</turbo-frame>