<!doctype html>
<html lang="en">
   <script>
      function DoCheckUncheckDisplay(d,dchecked,dunchecked)
      {
         if( d.checked == true )
         {
            document.getElementById(dchecked).style.display = "block";
            document.getElementById(dunchecked).style.display = "none";
         }
         else
         {
            document.getElementById(dchecked).style.display = "none";
            document.getElementById(dunchecked).style.display = "block";
         }
      }
      </script>
      <script>
      function DoCheckUncheckDisplay2(d,dchecked,dunchecked)
      {
         if( d.checked == true )
         {
            document.getElementById(dchecked).style.display = "block";
            document.getElementById(dunchecked).style.display = "none";
         }
         else
         {
            document.getElementById(dchecked).style.display = "none";
            document.getElementById(dunchecked).style.display = "block";
         }
      }
      </script>

<head>
   {{ turbo() }}
   <meta charset="utf-8">
   <title>NKT - Cluster</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css"
      href="{{ url_for('static',filename='assets/cui-2.0.0/css/cui-standard.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/frame.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/style.css') }}">
   <style>
      .chevron ul.tabs li.active a {
         background-color: #017cad !important;
         opacity: 1 !important;
         color: #ffffff;
         box-shadow: none !important;
      }

      .chevron ul.tabs li a {
         height: 56px min-width: 90% !important;
         padding: 10px 6px;
         background-color: #ffffff;
         opacity: 1 !important;
         color: #58585d;
         text-align: center;
         position: relative;
         line-height: 16px;
         font-size: 12px;
         cursor: pointer;
         flex: 1 !important;
         flex-shrink: 1 !important;
         flex-wrap: wrap !important;
         display: flex !important;
         justify-content: center !important;
      }
   </style>
</head>

<form id="form_cluster" name="tenantForm" method="post" action="/cluster">

   <body class="cui cui--animated cui--compressed" data-theme="">
      <div id="oneui">
         <!-- Main Content -->
         <header class="header" id="_uid818d10e3">
            <div class="container">
               <div class="header-panels">
                  <div class="header-panel"><a href="http://www.cisco.com" target="_blank" class="header__logo"
                        id="_uid5a704e92"><span class="icon-cisco"></span></a>
                     <div class="header__title">Nexus Kubernetes Tools - Version {{session['version']}}</div>
                  </div>
                  <div class="header-panel header-panel--right"><a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform"
                        href="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform"
                        data-hreftitle="Source Code" title="Source Code" class="header-item"
                        id="_uidb14b144f">GitHub</a><a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/issues"
                        href="https://aci-github.cisco.com/ddastoli/calico_aci/issues" data-hreftitle="Open An Issue"
                        title="Open An Issue" class="header-item" id="_uid2e094e7e">Open An Issue</a></div>
               </div>
            </div>
         </header>
         <div class="flexrow">
            <div class="cell"></div>
            <div class="cell"> </div>
         </div>

         <!--  K8s Settings   -->

         <div class="form-group base-margin-bottom">
            <div class="form-group__text"></div>
         </div>

         <div class="container bg-gray">
            <h2>K8s Cluster Details</h2>
            <p>
               <br> Here you should insert the K8s cluster details. </br>
               <b>Internet Access:</b> If you do not have internet access you <b>MUST</b> use the provided VM template.<br>
               No binaries nor images are pulled from the internet as they are pre-pulled and pre-installed. <br>
               This only works for the default image versions and result in a faster cluster bring up.<br>
               If you want to use your own template or specific image version then Internet access is required.<br>

            </p>
         </div>

         <div class="container">
            <div class="checkbox form-group form-group--inline c8041">
               <label class="checkbox">
                  <span class="checkbox__label hidden-xs">deploy k8s cluster in air-gapped environment?</span>
                  <input type="checkbox" id="sandbox_status" name="sandbox_status" style="margin:0;" checked >
                  <span id="sandbox_status" class="checkbox__input"></span>
               </label>
            </div>
         </div>
         <br>

         <div class="container">
            <div class="form-group base-margin-bottom">
               <div class="form-group__text">
                  <label for="time_zone">Time Zone:</label>
                  <input list="timezone_list" id="timezone" name="timezone" >
                  <datalist id="timezone_list">
                     {% include "_timezones.html" %}
                  </datalist>
               </div>
            </div>
         </div>
         
         <div class="container">
            <div class="form-group base-margin-bottom">
               <div class="form-group__text">
                  <label for="dns_servers">DNS servers:
                     <span data-title="Comma separated list for DNS Servers" >ⓘ</span>
                  </label>
                  <input type="text" id="dns_servers" name="dns_servers">
               </div>
            </div>
         </div>
         
         <div class="container">
            <div class="form-group base-margin-bottom">
               <div class="form-group__text">
                  <label for="dns_domain">DNS Domain: </label>
                  <input type="text" id="dns_domain" name="dns_domain">
               </div>
            </div>
         </div>

         <div class="container">
            <div class="form-group base-margin-bottom">
               <div class="form-group__text">
                  <label for="docker_mirror">Docker Mirror Address IP:Port (Optional)</label>
                  <input type="text" id="docker_mirror" name="docker_mirror">
               </div>
            </div>
         </div>

         <div class="container">
            <div class="form-group base-margin-bottom">
               <div class="form-group__text">
                  <label for="ntp_server">NTP Server IP:</label>
                  <input type="text" id="ntp_server" name="ntp_server">
               </div>
            </div>
         </div>   

                        <!--advanced tab for proxy-->
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text"></div>
                        </div>
                        <div class="container">
                           <div class="checkbox form-group form-group--inline c8041">
                              <label class="checkbox">
                                 <input type="checkbox" id="http_proxy_status" name="http_proxy_status" onclick="DoCheckUncheckDisplay2(this,'checkbox-checked2','checkbox-unchecked2')" style="margin:0;">
                                 <span id="http_proxy_checkbox" class="checkbox__input"></span>
                                 <span class="checkbox__label hidden-xs">Enabled Proxy</span>
                              </label>
                           </div>
                        </div>
                        <div id="checkbox-checked2" style="display:none;" >     
                           <div class="container">
                              <div class="form-group base-margin-bottom">
                                 <div class="form-group__text">
                                    <label for="http_proxy">Proxy Address</label>
                                    <input type="text" id="http_proxy" name="http_proxy">
                                 </div>
                              </div>
                           </div>
                  
                        </div>    


                  <!--advanced tab for K8s settings-->
                  <div class="form-group base-margin-bottom">
                     <div class="form-group__text"></div>
                  </div>
                  <div class="container">
                     <div class="checkbox form-group form-group--inline c8041">
                        <label class="checkbox">
                        <input type="checkbox" id="advancedK8" onclick="DoCheckUncheckDisplay(this,'checkbox-checked','checkbox-unchecked')" style="margin:0;">
                        <span class="checkbox__input" id="advanced"></span>
                        <span class="checkbox__label hidden-xs">Advanced K8s Cluster Settings</span>
                        </label>
                     </div>
                  </div>
                  <div id="checkbox-checked" style="display:none;" >     

                  <br>
                  <div class="container">
                     <div class="checkbox form-group form-group--inline c8041">
                        <label class="checkbox">
                           <input type="checkbox" id="eBPF_status" name="eBPF_status" style="margin:0;" >
                           <span id="eBPF_status" class="checkbox__input"></span>
                           <span class="checkbox__label hidden-xs">Enable eBPF (IPv6 Not Supported)</span>
                        </label>
                     </div>
                  </div><br>

                  <div class="container">
                     <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                           <label for="control_plane_vip">API LB IP:PORT for K8s (Defaults NodeSubnet.252):</label>
                           <input type="text" id="control_plane_vip" name="control_plane_vip" value="{{ api_ip }}:8443">
                        </div>
                     </div>
                  </div>
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="kube_version">Kubernetes Version:</label>
                              <input list="kube_version_list" id="kube_version" name="kube_version" value="1.23.4-00">
                              <datalist id="kube_version_list">
                                 {% for o in k8s_ver %}
                                 <option value="{{ o }}">
                                 {% endfor %}
                              </datalist>
                           </div>
                        </div>
                     </div>
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="kubeadm_token">Kubeadm Token:</label>
                              <input type="text" id="kubeadm_token" name="kubeadm_token" value="fqv728.htdmfzf6rt9blhej">
                           </div>
                        </div>
                     </div>
                     
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="crio_os">Crios OS Version:</label>
                              <input list="crio_os_list" id="crio_os" name="crio_os" value="xUbuntu_20.04">
                              <datalist id="crio_os_list">
                                 <option value='xUbuntu_21.04'>
                                 <option value='xUbuntu_20.10'>
                                 <option value='xUbuntu_20.04'>
                              </datalist>               
                           </div>
                        </div>
                     </div>
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="haproxy_image">haproxy image:</label>
                              <input type="text" id="haproxy_image" name="haproxy_image" value="haproxy:latest">
                           </div>
                        </div>
                     </div>
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="keepalived_image">keepalived image:</label>
                              <input type="text" id="keepalived_image" name="keepalived_image" value="osixia/keepalived:latest">
                           </div>
                        </div>
                     </div>
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="keepalived_router_id">keepalived Router ID (Must Be Unique per VLAN):</label>
                              <input type="text" id="keepalived_router_id" name="keepalived_router_id" value="51">
                           </div>
                        </div>
                     </div>  
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="ubuntu_apt_mirror">Ubuntu APT Mirror (Optional):
                                 <span data-title="If set it will override the default ubuntu APT mirror">ⓘ</span>
                              </label>
                              <input type="text" id="ubuntu_apt_mirror" name="ubuntu_apt_mirror">
                           </div>
                        </div>
                     </div>  
                  </div>         


         <div class="container">
            <div class="navibox">
               <input id="submit" type="submit" value="Next" class="btn btn--wide" name="button" style="margin-left: 10px;" onclick="saveInput()">
               <input type="submit" value="Previous" class="btn btn--wide" name="button" style="margin-left: 0px" onclick="saveInput()">
            </div>
         </div>

</form>


<div class="container">
   <footer class="footer footer--tertiary" id="_uidca388897">
      <div class="footer__links">
         <ul class="list list--inline" id="_uid08010aa3">
            <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank"
                  id="_uidbb5636c3">Contacts</a></li>
            <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank"
                  id="_uid92d9bfeb">Feedback</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank" id="_uidcbd80f09">Help</a></li>
            <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank" id="_uid134ab5bc">Site Map</a>
            </li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank"
                  id="_uidf3e2c0a6">Terms &amp; Conditions</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank"
                  id="_uide8b9adf9">Privacy Statement</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank"
                  id="_uid5580971c">Cookie Policy</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank"
                  id="_uidbe7db422">Trademarks</a></li>
         </ul>
      </div>
   </footer>
</div>



<div class="form-group base-margin-bottom"></div>
<main class="c549">
   <div></div>
</main>
<!-- End Main Content -->
</div>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/jquery-3.0.0.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/lodash.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/clipboard.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/styleguide.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/highcharts.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/exporting.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/html2canvas.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/functionLibrary.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/utils.js') }}"></script>
<script>
   loadInput();
</script>
<div id="canvas"></div>

</body>
<script>
    $("#submit").on("click", function(){
        var url = "{{ url_for("cluster")}}" + '?fabric_type=' + getUrlParameter('fabric_type');
        console.log(url);
        $("#form_cluster").attr("action", url);
        $("#form_cluster").submit();
    });
</script>

</html>
