<!doctype html>
<html lang="en">


<head>

   <meta charset="utf-8">
   <title>NKT - Create</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css"
      href="{{ url_for('static',filename='assets/cui-2.0.0/css/cui-standard.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/frame.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/style.css') }}">
    <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/js/utils.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/styleguide.js') }}"></script>

       <style>
      .chevron ul.tabs li.active a {
         background-color: #017cad !important;
         opacity: 1 !important;
         color: #ffffff;
         box-shadow: none !important;
      }

      .chevron ul.tabs li a {
         height: 56px min-width: 90% !important;
         padding: 10px 6px;
         background-color: #ffffff;
         opacity: 1 !important;
         color: #58585d;
         text-align: center;
         position: relative;
         line-height: 16px;
         font-size: 12px;
         cursor: pointer;
         flex: 1 !important;
         flex-shrink: 1 !important;
         flex-wrap: wrap !important;
         display: flex !important;
         justify-content: center !important;
      }

      textarea {
          font-family: monospace;
      }
   </style>
</head>

<form name="tenantForm" method="post" action="/create">

   <body class="cui cui--animated cui--compressed" data-theme="">
      <div id="oneui">
         <!-- Main Content -->
         <header class="header" id="_uid818d10e3">
            <div class="container">
               <div class="header-panels">
                  <div class="header-panel"><a href="http://www.cisco.com" target="_blank" class="header__logo"
                        id="_uid5a704e92"><span class="icon-cisco"></span></a>
                     <div class="header__title">Nexus Kubernetes Tools - Version {{session['version']}}</div>
                  </div>
                  <div class="header-panel header-panel--right"><a data-hreftarget="_self" target="_self"
                        data-hreflink="https://github.com/camrossi/akb"
                        href="https://github.com/camrossi/akb"
                        data-hreftitle="Source Code" title="Source Code" class="header-item"
                        id="_uidb14b144f">GitHub</a><a data-hreftarget="_self" target="_self"
                        data-hreflink="https://github.com/camrossi/akb/issues"
                        href="https://github.com/camrossi/akb/issues" data-hreftitle="Open An Issue"
                        title="Open An Issue" class="header-item" id="_uid2e094e7e">Open An Issue</a></div>
               </div>
            </div>
         </header>
         <!-- <div class="flexrow">
            <div class="cell"></div>
            <div class="cell"> </div>
         </div> -->
         <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/webcomponentsLibrary.js') }}"></script>
         <status-bar></status-bar>
         <div class="container bg-gray">
            <h2>Summary</h2>
            <p>
               <br> Please review the final configuration before applying it.
               <br> If you know what you are doing you can edit it manually as well.
               <br> Notes: 
               <ul>
                  <li>if you change the config manually you must click on Update Config to apply it!!!!</li>
                  <li>Visibility UI: Will be available a few minutes after the cluster deployment is completed</li>
                  <!-- <li>Downloading the Calico Manifest will work only once the Apply process is completed. If you click it before you will get a file not found error. We will enhance this in a future release!</li> -->
               </ul>
               <br>

            </p>
         </div>
         <div class="container">
            <div id="alert_success" class="alert alert--success" style="display: none">
                <div class="alert__icon icon-check-outline"></div>
                <div id="alert_success_msg" class="alert__message">Config update success!</div>
            </div>
            <div id="alert_fail" class="alert alert--warning" style="display: none">
                <div class="alert__icon icon-warning-outline"></div>
                <div id="alert_fail_msg" class="alert__message">Config update failed!</div>
            </div>
        </div>
         <div class="container">
            <div class="form-group__text">
               <div class="row">
                  <div class="col-md-4">
                     <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                           <textarea rows="30" class="textarea" name="config"
                              id="config">{{ config }}</textarea><label>Config:</label>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-8 flex-column-reverse">
                           <label>Terraform Output:
                              <span data-title="Here is capture the output of Terraform and Ansible">ⓘ</span>
                           </label>
                           <label data-cubexswitch="container" notcomponent="" class="switch">
                              <input type="checkbox" checked="" id="autoScrollToggle" onchange="toggleAutoScroll()">
                              <span class="switch__label">Auto Scroll</span>
                              <span class="switch__input"></span>
                           </label>
                           <iframe id='iframe' src=""></iframe>
                  </div>
               </div>
            </div>
         </div>


         <div class="container">
            <input type="submit" value="Previous" class="btn" name="button">
            <input type="button" id="btn_update_config" value="Update Config" class="btn" name="button">
            <br><br>
            <input type="button" value="Plan" id="plan" class="btn" name="button" onclick="updateiFrame(this)">
            <input type="button" value="Apply" id="apply" class="btn" name="button" onclick="updateiFrame(this)">
            <input type="button" value="Reset" id="reset" class="btn" name="button" onclick="openModal('reset_modal')">
            <input type="button" value="Destroy" id="destroy" class="btn" onclick="openModal('destroy_modal')">
            <input type="button" value="Visibility UI" id="vkaci" class="btn btn--wide" name="button" onclick="window.open('{{ vkaci_ui }}','_blank')">
            <div class="modal modal--small hide" id="reset_modal">
               <div class="modal__dialog">
                   <div class="modal__content">
                       <a class="modal__close" onclick="closeModal('reset_modal')"><span class="icon-close"></span></a>
                       <div class="modal__header">
                           <div class="modal__title">Confirm</div>
                       </div>
                       <div class="modal__body">
                           <div class="alert alert--info">
                               <div class="alert__icon icon-info-outline"></div>
                               <div class="alert__message">This will delete the terraform state. If VMs/ACI Config are present they will need to be manually deleted!</div>
                           </div>
                       </div>
                       <div class="modal__footer">
                           <button type="button" id="btn_reset_cancel"class="btn btn--ghost" onclick="closeModal('reset_modal')">Cancel</button>
                           <button id="btn_reset_confirm" class="btn" >Confirm</button>
                       </div>
                   </div>
               </div>
           </div>
           <div class="modal modal--small hide" id="destroy_modal">
            <div class="modal__dialog">
                <div class="modal__content">
                    <a class="modal__close" onclick="closeModal('destroy_modal')"><span class="icon-close"></span></a>
                    <div class="modal__header">
                        <div class="modal__title">Confirm</div>
                    </div>
                    <div class="modal__body">
                        <div class="alert alert--info">
                            <div class="alert__icon icon-info-outline"></div>
                            <div class="alert__message">Destroy existing cluster?</div>
                        </div>
                    </div>
                    <div class="modal__footer">
                        <button type="button" id="btn_destroy_cancel"class="btn btn--ghost" onclick="closeModal('destroy_modal')">Cancel</button>
                        <button type="button" id="btn_destroy_confirm" class="btn" >Confirm</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>
</form>



<div class="container">
   <footer class="footer footer--tertiary" id="_uidca388897">
      <div class="footer__links">
         <ul class="list list--inline" id="_uid08010aa3">
            <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank"
                  id="_uidbb5636c3">Contacts</a></li>
            <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank"
                  id="_uid92d9bfeb">Feedback</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank" id="_uidcbd80f09">Help</a></li>
            <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank" id="_uid134ab5bc">Site Map</a>
            </li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank"
                  id="_uidf3e2c0a6">Terms &amp; Conditions</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank"
                  id="_uide8b9adf9">Privacy Statement</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank"
                  id="_uid5580971c">Cookie Policy</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank"
                  id="_uidbe7db422">Trademarks</a></li>
         </ul>
      </div>
   </footer>
</div>



<div class="form-group base-margin-bottom"></div>
<main class="c549">
   <div></div>
</main>
<!-- End Main Content -->
</div>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/functionLibrary.js') }}"></script>
<script>
   function updateiFrame(button) {
       if (button.value === 'Plan') {
           document.getElementById('iframe').src = "{{ url_for("tf_plan") }}" + '?fabric_type=' + getUrlParameter('fabric_type')
       }
       if (button.value === 'Apply') {
           document.getElementById('iframe').src = "{{ url_for("tf_apply") }}" + '?fabric_type=' + getUrlParameter('fabric_type')
       }
   }
   startAutoScroll();

</script>
<script>
    $(document).ready(function () {
        $("#btn_update_config").click(function (e) {
            var update_url = "{{ url_for("update_config")}}" + '?fabric_type=' + getUrlParameter('fabric_type');
            $.ajax({
                url: update_url,  
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify({ config: $("#config").val()}),
                success: function (result, status, xhr) {
                    $("#alert_success").fadeIn(500).delay(1000).fadeOut(500);
                },
                error: function (xhr, status, error) {
                    $("#alert_fail").fadeIn(500).delay(1000).fadeOut(500);
                }
            });
        });
        $("#btn_reset_confirm").click(function (e) {
         var reset_url = "{{ url_for("reset")}}" + '?fabric_type=' + getUrlParameter('fabric_type');
         $("#reset_modal").addClass('hide');
         $("#iframe").attr('src',reset_url);

     });
          $("#btn_destroy_confirm").click(function (e) {
              var update_url = "{{ url_for("destroy")}}" + '?fabric_type=' + getUrlParameter('fabric_type');
              $("#destroy_modal").addClass('hide');
              $("#iframe").attr('src',update_url);
          });
    })
</script>
<div id="canvas"></div>

</body>
</html>
