<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NKT - NDFC Fabric</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css"
                               href="{{ url_for('static',filename='assets/cui-2.0.0/css/cui-standard.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/frame.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/style.css') }}">
        <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/jquery-3.0.0.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/utils.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/fabric.js') }}"></script>
    </head>

    <body class="cui cui--animated cui--compressed" data-theme="">
        <div id="oneui">
            <!-- Main Content -->
            <header class="header" id="_uid818d10e3">
                <div class="container">
                    <div class="header-panels">
                        <div class="header-panel">
                            <a href="http://www.cisco.com" target="_blank" class="header__logo" id="_uid5a704e92">
                                <span class="icon-cisco"></span>
                            </a>
                             <div class="header__title">Nexus Kubernetes Tools - Version {{session['version']}}</div>
                        </div>
                        <div class="header-panel header-panel--right">
                            <a data-hreftarget="_self" target="_self" data-hreflink="https://github.com/camrossi/akb" href="https://github.com/camrossi/akb" data-hreftitle="Source Code" title="Source Code" class="header-item" id="_uidb14b144f">GitHub</a>
                            <a data-hreftarget="_self" target="_self" data-hreflink="https://github.com/camrossi/akb/issues" href="https://github.com/camrossi/akb/issues" data-hreftitle="Open An Issue" title="Open An Issue" class="header-item" id="_uid2e094e7e">Open An Issue</a>
                        </div>
                    </div>
                </div>
            </header>
            <!-- <div class="flexrow">
                <div class="cell"></div>
                <div class="cell"> </div>
            </div> -->
            <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/webcomponentsLibrary.js') }}"></script>
            <div class="form-group base-margin-bottom">
                <div class="form-group__text"></div>
            </div>
            <div class="container">
                <status-bar></status-bar>
            </div>
            <div class="form-group base-margin-bottom">
                <div class="form-group__text"></div>
            </div>  

            <div class="container bg-gray">
                <h2>Fabric Details</h2>
                <p>
                <br> AKB will provision necessary configtiion to this fabric
                <br> Same peer of loopbacks will be configured on selected VPC peers in user vrf to peer with k8s nodes
                <br> Calico BGP nodes will advertise the node, pod and services subnets to VXLAN EVPN fabric
                <br> <b>Note</b>: The VRF and Network needs to be pre-configured on Fabric
                <br> This is done to ensure you can re-use pre-existing infrastructure and minimize the risk of
                accidental deletions.

                </p>

            </div>
            <div id="alert_fail" class="alert alert--warning" style="display: none">
                <div class="alert__icon icon-warning-outline"></div>
                <div id="alert_fail_msg" class="alert__message"></div>
            </div>
            <form id="mainForm" name="mainForm">
                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <input list="datalist_fabric" id="fabric" name="fabric"/>
                            <datalist id="datalist_fabric">
                                {% for f in fabrics %}
                                <option data-asn="{{ f.asn }}" id="{{ f.fabric_name }}" value="{{ f.fabric_name }}">
                                {% endfor %}
                            </datalist>
                            <label for="fabric">Fabric Name:
                                <span data-title="Fabric Kubernetes cluster connected to">ⓘ </span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="div_asn" class="container" style="display: none">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label for="fabric_asn">Fabric AS Number:
                                <span data-title="Fabric ASN number, this is get from fabric configuration">ⓘ</span>
                            </label>
                            <input type="text" id="fabric_asn" name="fabric_asn" value="" disabled/>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <input list="datalist_vrf" id="vrf" name="vrf">
                            <datalist id="datalist_vrf">
                            </datalist>
                            <label for="vrf">VRF name:
                                <span data-title="VRF of Cluster"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <input list="datalist_network" id="network" name="network">
                            <datalist id="datalist_network">
                            </datalist>
                            <label for="network">Network Name:
                                <span data-title="NDFC Newtork of K8s Cluster"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label for="loopback_id">Loopback ID:
                                <span data-title="loopback id for bgp neighbor source interface, make sure it is not used on leaf switches">ⓘ</span>
                            </label>
                            <input type="number" id="loopback_id" name="loopback_id" value=100>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div id="form_loopback" class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label for="input_lo_ipv4">Loopback Addresses:
                                <span data-title="loopback addresses for vPC peers, same addresses will be used for all vPC peers">ⓘ</span>
                            </label>
                            <input type="text" id="input_lo_ipv4" name="loopback_address" value=>
                        </div>
                        <div id="form_loopback_alert" class="form-group__help" role="alert" style="display: none">
                            <span>Maximum 2 addresses</span>
                        </div>
                    </div>
                </div>
                <div id="loopback_ipv4" class="container  base-margin-bottom">
                </div>
                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label
                                for="bgp_pass">IPv4 Cluster Subnet:
                                <span data-title="The IPv4 subnet for you cluster. This subnet should be able to be routable and reach internet to pull the container images.">ⓘ</span>
                            </label>
                            <input type="text" id="ipv4_cluster_subnet" name="ipv4_cluster_subnet" value="">
                        </div>
                    </div>
                </div>
                <div class="container base-margin-bottom">
                    <div class="checkbox form-group form-group--inline c8041">
                        <label class="checkbox">
                            <input id="k8s_integ" type="checkbox" style="margin:0;" checked>
                            <span id='ck_box_k8s_integ' class="checkbox__input"></span>
                            <span class="checkbox__label hidden-xs">Enable NDFC Kubernetes Visualizer</span>
                        </label>
                    </div>
                </div>
                <div class="container base-margin-bottom">
                    <div class="checkbox form-group form-group--inline c8041">
                        <label class="checkbox">
                            <input id="adv_chck" type="checkbox" style="margin:0;">
                            <span id='advanced' class="checkbox__input"></span>
                            <span class="checkbox__label hidden-xs">Advanced BGP Settings</span>
                        </label>
                    </div>
                </div>
                <div id="checkbox-checked" style="display: none" >
                    <div class="container">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <label for="ibgp_peer_vlan">vPC iBGP Peer VLAN:
                                    <span data-title="VLAN used for iBGP neighborship between vPC peer">ⓘ</span>
                                </label>
                                <input type="text" id="ibgp_peer_vlan" name="ibgp_peer_vlan" value=3965 type="number">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <input  id="route_map" name="route_map" value="k8s_route_map_filter_out">
                                <label for="route-map"> Route-map of BGP filter
                                    <span data-title="Route-map for filtering route to k8s node">ⓘ</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <input  id="loopback_route_tag" name="loopback_route_tag" value=65535 type="number">
                                <label for="loopback_route_tag"> Route Tag of loopback
                                    <span data-title="Route Tag used for filer loopback address, prevent from being advertise to Kubernetes Nodes">ⓘ</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="checkbox form-group base-margin-bottom">
                            <label class="checkbox">
                                <input id="enable_ipv6" type="checkbox" >
                                <span  class="checkbox__input"></span>
                                <span class="checkbox__label hidden-xs">Enable IPv6 of K8s Cluster</span>
                            </label>
                        </div>
                    </div>
                    <div id="container_ipv6" class="container" style="display: none">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <label for="ipv6_cluster_subnet">IPv6 Cluster Subnet:
                                    <span data-title="The IPv6 subnet for you cluster. Get from selected network">ⓘ</span>
                                </label>
                                <input type="text" id="ipv6_cluster_subnet" name="ipv6_cluster_subnet" value="">
                            </div>
                        </div>
                        <div id="form_loopbackv6" class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <label for="input_lo_ipv6">IPv6 Loopback Addresses:
                                    <span data-title="IPv6 loopback addresses for vPC peers, same addresses will be used for all vPC peers">ⓘ</span>
                                </label>
                                <input type="text" id="input_lo_ipv6" name="loopback_address" value=>
                            </div>
                            <div id="form_loopbackv6_alert" class="form-group__help" role="alert" style="display: none">
                                <span>Maximum 2 addresses</span>
                            </div>
                        </div>
                        <div id="loopback_ipv6" class="container  base-margin-bottom">
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <label for="bgp_pass" >Password for BGP neighbors:
                                    <span data-title="Default 123Cisco123">ⓘ</span>
                                </label>
                                <input type="text" id="bgp_pass" name="bgp_pass" value="Not Supported Yet" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container ">
                    <div class="panel panel--bordered-top panel--bordered-bottom">
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="form-group base-margin-bottom">
                                    <div class="form-group__text ">
                                        <select id="vpc_peer" name="vpc_peer">
                                            <!--<option name="{{ o }}">{{ o }} </option>-->
                                        </select><label for="vpc_peer">vPC Peer</label>
                                    </div>
                                </div>
                                <div class="form-group base-margin-bottom">
                                    <div class="form-group__text"><input type="text" name="rack_id" id="rack_id" value=1>
                                        <label >Rack ID
                                            <span data-title="Select a alphanumeric value to identify your rack ID. This Rack ID is matched against the K8s node Rack ID. eBGP peering is automatically configuerd between anchor nodes and K8s nodes with the same Rack ID. ">ⓘ</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group base-margin-bottom">
                                    <div class="form-group__text">
                                        <input type="text" name="primary" id="primary" value="" disabled/>
                                        <label for="primary">vPC Primary:
                                            <span data-title="Primary of selected vpc peer">ⓘ</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group base-margin-bottom">
                                    <div class="form-group__text">
                                        <input type="text" name="primary_ipv4" id="primary_ipv4" value="192.168.10.1/30"/>
                                        <label >SVI IPv4 of Primary:
                                            <span data-title="IPv4 address of SVI used for iBGP peer between vPC Peer">ⓘ</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group base-margin-bottom">
                                    <div class="form-group__text">
                                        <input type="text" name="secondary" id="secondary" value="" disabled/>
                                        <label  for="secondary">vPC secondary:
                                            <span data-title="Secondary of selected vpc peer">ⓘ</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group base-margin-bottom">
                                    <div class="form-group__text">
                                        <input type="text" name="secondary_ipv4" id="secondary_ipv4" value="192.168.10.2/30"/>
                                        <label >SVI IPv4 of Secondary:
                                            <span data-title="IPv4 address of SVI used for iBGP peer between vPC Peer">ⓘ</span>
                                        </label>
                                    </div>
                                </div>
                                <input type="botton" value="Add Node" id="add_node" class="btn btn--wide" name="button"/>
                            </div>
                            <div id="leaf_switches" class="col-md-6 base-margin-top" value="">
                            </div>
                        </div>
                    </div>
                <p/><p/>

            </form>
            <div class="container">
                <input type="button" value="Previous" class="btn btn--wide" name="button">
                <input id="next" type="button" value="Next" class="btn btn--wide" name="button">
            </div>
    </body>
    <div class="container">
        <footer class="footer footer--tertiary" id="_uidca388897">
            <div class="footer__links">
                <ul class="list list--inline" id="_uid08010aa3">
                    <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank"
                                                                                                id="_uidbb5636c3">Contacts</a></li>
                    <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank"
                                                                                        id="_uid92d9bfeb">Feedback</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank" id="_uidcbd80f09">Help</a></li>
                    <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank" id="_uid134ab5bc">Site Map</a>
                    </li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank"
                                                                                                  id="_uidf3e2c0a6">Terms &amp; Conditions</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank"
                                                                                              id="_uide8b9adf9">Privacy Statement</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank"
                                                                                                      id="_uid5580971c">Cookie Policy</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank"
                                                                                            id="_uidbe7db422">Trademarks</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="form-group base-margin-bottom"></div>
    <!-- End Main Content -->
    <script>
    </script>
</html>
