<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AKB - Fabric</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css"
                               href="{{ url_for('static',filename='assets/cui-2.0.0/css/cui-standard.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/frame.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/style.css') }}">
        <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/jquery-3.0.0.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/lodash.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/clipboard.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/styleguide.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/highcharts.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/exporting.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/html2canvas.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/utils.js') }}"></script>
        <style>
        .chevron ul.tabs li.active a {
            background-color: #017cad !important;
            opacity: 1 !important;
            color: #ffffff;
            box-shadow: none !important;
        }
        .chevron ul.tabs li a {
            height: 56px min-width: 90% !important;
            padding: 10px 6px;
            background-color: #ffffff;
            opacity: 1 !important;
            color: #58585d;
            text-align: center;
            position: relative;
            line-height: 16px;
            font-size: 12px;
            cursor: pointer;
            flex: 1 !important;
            flex-shrink: 1 !important;
            flex-wrap: wrap !important;
            display: flex !important;
            justify-content: center !important;
        }
        </style>
    </head>

    <body class="cui cui--animated cui--compressed" data-theme="">
        <div id="oneui">
            <!-- Main Content -->
            <header class="header" id="_uid818d10e3">
                <div class="container">
                    <div class="header-panels">
                        <div class="header-panel">
                            <a href="http://www.cisco.com" target="_blank" class="header__logo" id="_uid5a704e92">
                                <span class="icon-cisco"></span>
                            </a>
                            <div class="header__title">ACI Kubernetes Bootstrapper</div>
                        </div>
                        <div class="header-panel header-panel--right">
                            <a data-hreftarget="_self" target="_self" data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform" href="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform" data-hreftitle="Source Code" title="Source Code" class="header-item" id="_uidb14b144f">GitHub</a>
                            <a data-hreftarget="_self" target="_self" data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/issues" href="https://aci-github.cisco.com/ddastoli/calico_aci/issues" data-hreftitle="Open An Issue" title="Open An Issue" class="header-item" id="_uid2e094e7e">Open An Issue</a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="flexrow">
                <div class="cell"></div>
                <div class="cell"> </div>
            </div>

            <div class="container bg-gray">
                <h2>Fabric Details</h2>
                <p>
                <br> AKB will provision necessary configtiion to this fabric
                <br> Same peer of loopbacks will be configured on selected VPC peers in user vrf to peer with k8s nodes
                <br> Calico BGP nodes will advertise the node, pod and services subnets to VXLAN EVPN fabric
                <br> <b>Note</b>: The VRF and Network needs to be pre-configured on Fabric
                <br> This is done to ensure you can re-use pre-existing infrastructure and minimize the risk of
                accidental deletions.

                </p>

            </div>
            <form id="mainForm" name="mainForm">
                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <input list="datalist_fabric" id="fabric" name="fabric"/>
                            <datalist id="datalist_fabric">
                                {% for f in fabrics %}
                                <option data-asn="{{ f.asn }}" id="{{ f.fabric_name }}" value="{{ f.fabric_name }}">
                                {% endfor %}
                            </datalist>
                            <label for="fabric">Fabric Name:
                                <span data-title="Fabric Kubernetes cluster connected to">ⓘ </span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="div_asn"class="container" style="display: none">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label
                                for="fabric_asn">Fabric AS Number:
                                <span data-title="Fabric ASN number, this is get from fabric configuration">ⓘ</span>
                            </label>
                            <input type="text" id="input_fabric_asn" name="input_fabric_asn" value="" disabled/>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <input list="datalist_vrf" id="vrf" name="vrf">
                            <datalist id="datalist_vrf">
                            </datalist>
                            <label for="vrf">VRF name:
                                <span data-title="VRF of Cluster"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label for="loopback_id">Loopback ID:
                                <span data-title="loopback id for bgp neighbor source interface, make sure it is not used on leaf switches">ⓘ</span>
                            </label>
                            <input type="number" id="loopback_id" name="loopback_id" value=100>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div id="form_loopback" class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label for="input_lo_ipv4">Loopback Addresses:
                                <span data-title="loopback addresses for vPC peers, same addresses will be used for all vPC peers">ⓘ</span>
                            </label>
                            <input type="text" id="input_lo_ipv4" name="loopback_address" value=>
                        </div>
                        <div id="form_loopback_alert" class="form-group__help" role="alert" style="display: none">
                            <span>Maximum 2 addresses</span>
                        </div>
                    </div>
                </div>
                <div id="loopback_ipv4" class="container  base-margin-bottom">
                </div>
                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label
                                for="bgp_pass">IPv4 Cluster Subnet:
                                <span data-title="The IPv4 subnet for you cluster. This subnet should be able to be routable and reach internet to pull the container images.">ⓘ</span>
                            </label>
                            <input type="text" id="ipv4_cluster_subnet" name="ipv4_cluster_subnet" value="10.13.0.0/24" onchange="updateAnchorNodeIPv4(this)">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label for="dns_servers">DNS servers:</label>
                            <input type="text" id="dns_servers" name="dns_servers">
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="form-group base-margin-bottom">
                        <div class="form-group__text">
                            <label for="dns_domain">DNS Domain:
                                <span data-title="Comma separated list for DNS Servers" >ⓘ</span>
                            </label>
                            <input type="text" id="dns_domain" name="dns_domain" value="cisco.com">
                        </div>
                    </div>
                </div>
                <!--advanced tab for L3out-->
                <div class="form-group base-margin-bottom">
                    <div class="form-group__text"></div>
                </div>
                <div class="container">
                    <div class="checkbox form-group form-group--inline c8041">
                        <label class="checkbox">
                            <input id="adv_chck" type="checkbox" style="margin:0;">
                            <span id='advanced' class="checkbox__input"></span>
                            <span class="checkbox__label hidden-xs">Advanced BGP Settings</span>
                        </label>
                    </div>
                </div>
                <div id="checkbox-checked" style="display: none" >
                    <div class="container">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <label for="ibgp_peer_vlan">vPC iBGP Peer VLAN:
                                    <span data-title="VLAN used for iBGP neighborship between vPC peer">ⓘ</span>
                                </label>
                                <input type="text" id="ibgp_peer_vlan" name="ibgp_peer_vlan" value=3965 type="number">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <input  id="route_map" name="route_map" value="k8s_route_map_filter_out">
                                <label for="route-map"> Route-map of BGP filter
                                    <span data-title="Route-map for filtering route to k8s node">ⓘ</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <input  id="loopback_route_tag" name="loopback_route_tag" value=65535 type="number">
                                <label for="loopback_route_tag"> Route Tag of loopback
                                    <span data-title="Route Tag used for filer loopback address, prevent from being advertise to Kubernetes Nodes">ⓘ</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <label for="bgp_pass">IPv6 Cluster Subnet (Optional):
                                 <span data-title="The IPv6 subnet for you cluster. Currently IPv4 is used for internet connectivity so this subnet does not need to be routable outside of ACI" >ⓘ</span>
                                </label>
                                <input type="text" id="ipv6_cluster_subnet" name="ipv6_cluster_subnet" onchange="updateAnchorNodeIPv6(this)">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="form-group base-margin-bottom">
                            <div class="form-group__text">
                                <label for="bgp_pass" >Password for BGP neighbors:
                                    <span data-title="Default 123Cisco123">ⓘ</span>
                                </label>
                                <input type="text" id="bgp_pass" name="bgp_pass" value="Not Supported Yet" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <p></p><p></p>
                {% include "_anchor_nodes.html" %}
            </form>
            <div class="container">
                <input type="button" value="Previous" class="btn btn--wide" name="button">
                <input id="next" type="button" value="Next" class="btn btn--wide" name="button">
            </div>
    </body>
    <div class="container">
        <footer class="footer footer--tertiary" id="_uidca388897">
            <div class="footer__links">
                <ul class="list list--inline" id="_uid08010aa3">
                    <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank"
                                                                                                id="_uidbb5636c3">Contacts</a></li>
                    <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank"
                                                                                        id="_uid92d9bfeb">Feedback</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank" id="_uidcbd80f09">Help</a></li>
                    <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank" id="_uid134ab5bc">Site Map</a>
                    </li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank"
                                                                                                  id="_uidf3e2c0a6">Terms &amp; Conditions</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank"
                                                                                              id="_uide8b9adf9">Privacy Statement</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank"
                                                                                                      id="_uid5580971c">Cookie Policy</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank"
                                                                                            id="_uidbe7db422">Trademarks</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="form-group base-margin-bottom"></div>
    <!-- End Main Content -->
    <script>
        function updateAnchorNodeIPv4(button) {
            document.getElementById('node_ipv4').value = document.getElementById('ipv4_cluster_subnet').value
        }

        function updateAnchorNodeIPv6(button) {

            document.getElementById('node_ipv6').value = document.getElementById('ipv6_cluster_subnet').value
        }

        $(document).ready(function() {
            $(window).keydown(function(e){
                if(e.key == "Enter") {
                    e.preventDefault();
                    return false;
                }
            });

            $("#adv_chck").click(function(){
                if ( $(this).prop("checked") ) {
                    $("#checkbox-checked").fadeIn(200);
                } else {
                    $("#checkbox-checked").fadeOut(200);
                };
            });

            $("#fabric").change(function(){
                var fabric_name = this.value;
                $("#input_fabric_asn").val($("#" + this.value).attr("data-asn"));
                $("#div_asn").fadeIn(300);
                var url = "{{ url_for("query_ndfc")}}";
                $.ajax({
                    url: url,
                    type: 'get',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: {
                        fabric_type: getUrlParameter('fabric_type'),
                        fabric_name: fabric_name,
                        query_vrf: true
                    },
                    success: function (result, status, xhr) {
                        $.each(result, function(index, value){
                            $('<option value="' + value +'">').appendTo($("#datalist_vrf"));
                        });

                    },
                    error: function (xhr, status, error) {
                        $("#alert_fail").fadeIn(500).delay(1000).fadeOut(500);
                    }
                });
            });

            $("#input_lo_ipv4").on("keyup", function(e){
                if (e.key == "Enter") {
                    var count_lo = $("#loopback_ipv4").children().length;
                    if ( count_lo >= 2 ) {
                        $("#form_loopback_alert").show();
                        $("#form_loopback").addClass("form-group--error");
                        return false
                    };
                    var ip_addr = $(this).value;
                    var ipv4_addr = $("#input_lo_ipv4").val();
                    var lo_label = '<span class="label label--info base-margin-left"><span>' + ipv4_addr + '</span> <span class="icon-close"></span></span>';
                    $("#loopback_ipv4").append(lo_label);
                    $(this).val("");
                }
            });

            $("#loopback_ipv4").on("click", ".icon-close", function(){
                $(this).parent().remove();
                var count_lo = $("#loopback_ipv4").children().length;
                if ( count_lo < 2 ) {
                    $("#form_loopback_alert").hide();
                    $("#form_loopback").removeClass("form-group--error");
                    return false
                };
            });
        });

    </script>
</html>
