<!doctype html>
<html lang="en">


<head>
   <meta charset="utf-8">
   <title>AKB - Day0</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css"
      href="{{ url_for('static',filename='assets/cui-2.0.0/css/cui-standard.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/frame.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/style.css') }}">
   <style>
      .chevron ul.tabs li.active a {
         background-color: #017cad !important;
         opacity: 1 !important;
         color: #ffffff;
         box-shadow: none !important;
      }

      .chevron ul.tabs li a {
         height: 56px min-width: 90% !important;
         padding: 10px 6px;
         background-color: #ffffff;
         opacity: 1 !important;
         color: #58585d;
         text-align: center;
         position: relative;
         line-height: 16px;
         font-size: 12px;
         cursor: pointer;
         flex: 1 !important;
         flex-shrink: 1 !important;
         flex-wrap: wrap !important;
         display: flex !important;
         justify-content: center !important;
      }
   </style>
</head>

<form name="tenantForm" method="post" action="/intro">

   <body class="cui cui--animated cui--compressed" data-theme="">
      <div id="oneui">
         <!-- Main Content -->
         <header class="header" id="_uid818d10e3">
            <div class="container">
               <div class="header-panels">
                  <div class="header-panel"><a href="http://www.cisco.com" target="_blank" class="header__logo"
                        id="_uid5a704e92"><span class="icon-cisco"></span></a>
                     <div class="header__title">ACI Kubernetes Bootstrapper</div>
                  </div>
                  <div class="header-panel header-panel--right"><a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform"
                        href="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform"
                        data-hreftitle="Source Code" title="Source Code" class="header-item"
                        id="_uidb14b144f">GitHub</a><a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/issues"
                        href="https://aci-github.cisco.com/ddastoli/calico_aci/issues" data-hreftitle="Open An Issue"
                        title="Open An Issue" class="header-item" id="_uid2e094e7e">Open An Issue</a></div>
               </div>
            </div>
         </header>
         <div class="flexrow">
            <div class="cell"></div>
            <div class="cell"> </div>
         </div>
         <div class="container bg-gray">
            <h2>AKB Project Information</h2>
            <p>
               <br> This is the ACI Kubernetes Bootstrapper Project.
               <br> Our goal is to provide a simple and automated way to deploy
               a Kubernetes cluster and integrate it with ACI. Currently we support Calico as CNI plugin.
               <br> Both the ACI and Kubernetes Architecture are following the Floating SVI design as described in the
               <a
                  href="https://www.cisco.com/c/en/us/solutions/collateral/data-center-virtualization/application-centric-infrastructure/white-paper-c11-743182.html">Cisco
                  Application Centric Infrastructure Calico Design White Paper</a>.
               <br> All the optimizations and best practices of the design are implemented automatically on ACI.
               <br> AKB uses, under the hood, Terraform to push the ACI configuration and Deploy the VMs.
               Ansible is used to configure the VMs, bootstrap and configure the Kubernetes Cluster.

            <h2> High Level Architectuer</h2>
            For details Refer to: <a
               href="https://www.cisco.com/c/en/us/solutions/collateral/data-center-virtualization/application-centric-infrastructure/white-paper-c11-743182.html">Cisco
               Application Centric Infrastructure Calico Design White Paper</a>

            <br> Calico supports two main network modes: direct container routing (no overlay transport protocol) or
            network overlay using VXLAN or IPinIP (default) encapsulations to exchange traffic between workloads.
            <br> AKB will deploying Calico in direct routing mode.
            <br>
            <br>Each Kubernetes node will have a dedicated AS number and will peer via eBGP with a pair of ACI
            top-of-rack (ToR) switches configured in a vPC pair. Having a vPC pair of leaf switches provides redundancy
            within the rack.
            <br>
            This eBGP design does not require running any route reflector in the Calico infrastructure; this results in
            a more scalable, simpler, and easier to maintain architecture.

            Once this design is implemented, the following connectivity is expected:
            <ul>
               <li> Pods running on the Kubernetes cluster can be directly accessed from inside ACI or outside through
                  transit routing.</li>
               <li> Pod-to-pod and node-to-node connectivity will happen over the same L3Out and external end point
                  group (EPG).</li>
               <li> Exposed Services can be directly accessed from inside or outside ACI. Those services will be load
                  balanced by ACI through ECMP 64-way provided by BGP.</li>
            </ul>
            <br>
            <div class="row">
               <div class="col-md-6">
                  <h3>Network Architecture - Floating SVI</h3>
                  The floating SVI feature enables you to configure an L3Out without specifying logical interfaces. The
                  feature saves you from having to configure multiple L3Out logical interfaces to maintain routing when
                  virtual machines (VMs) move from one host to another. Floating SVI is supported for VMware vSphere
                  Distributed Switch (VDS) as of ACI Release 4.2(1) and on physical domains as of ACI Release 5.0(1). It
                  is
                  recommended using the physical domains approach for the following reasons:
                  <ul>
                     <li>Can support any hypervisor</li>
                     <li> Can support mixed mode clusters (VMs and bare-metal)</li>
                  </ul>
                  <ul>Using floating SVI also relaxes the requirement of not having any Layer-2 communications between
                     the routing nodes; this allows the design to use:
                     <li>A single subnet for the whole cluster</li>
                     <li>A single encapsulation (VLAN) for the whole cluster</li>
                  </ul>
                  <h3>Pre Requisities</h3>
                  Before running this AKB there are a few required steps:
                  <br><br>
                  <h4>ACI</h4>
                  <ul>
                     <li>Safety First: The Tenant, VRF and Physical Domain needs to be pre-configured on ACI. This is to ensure it is impossible by design to delete these objects by mistake</li>
                     <li>vCenter/ESXi infrastructure needs to be configured and connected to ACI, VMM integration is supported but not requried</li>
                  </ul>
                  <br>
                  <h4>vCenter</h4>
                  {% include "_vc_requirements.html" %}
                  <h2>Under the hood of AKB</h2>
                  AKB is powered by the following technologies:
                  <ul>
                     <li>Terraform: It is used to provision the ACI configuration, clone the VMs, customized the VM OS with basic parameters (IP, hostname) and generate the ansible configuration</li>
                     <li>Ansible: It is used to Bootstrap the K8s cluster and perform all the VMs customizations</li>
                     <li>Packer: It is used to package AKB in a VM form Factor</li>
                  </ul>
              </div>
               <div class="col-md-6">
                  <img src="../static/images/connectivity.png" alt="High Level Connectivity">
               </div>
            </div>

            </p>
            <div class="container">
               <input type="submit" value="Go" class="btn btn--wide" name="button">
            </div>
            <br><br><br><br><br><br>
         </div>


         <div class="container">
            <footer class="footer footer--tertiary" id="_uidca388897">
               <div class="footer__links">
                  <ul class="list list--inline" id="_uid08010aa3">
                     <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank"
                           id="_uidbb5636c3">Contacts</a></li>
                     <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank"
                           id="_uid92d9bfeb">Feedback</a></li>
                     <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank"
                           id="_uidcbd80f09">Help</a></li>
                     <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank"
                           id="_uid134ab5bc">Site Map</a></li>
                     <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank"
                           id="_uidf3e2c0a6">Terms &amp; Conditions</a></li>
                     <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank"
                           id="_uide8b9adf9">Privacy Statement</a></li>
                     <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank"
                           id="_uid5580971c">Cookie Policy</a></li>
                     <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank"
                           id="_uidbe7db422">Trademarks</a></li>
                  </ul>
               </div>
            </footer>
         </div>



         <div class="form-group base-margin-bottom"></div>
         <main class="c549">
            <div></div>
         </main>
         <!-- End Main Content -->
      </div>
      <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/lodash.min.js') }}"></script>
      <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/clipboard.js') }}"></script>
      <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/styleguide.js') }}"></script>
      <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/highcharts.js') }}"></script>
      <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/exporting.js') }}"></script>
      <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/html2canvas.js') }}"></script>
      <div id="canvas"></div>
      <script>
         $(document).ready(function () {
            $('body').find('[data-oneuihighcharts="container"]').each((key, val) => {
               var finalJson = val.getAttribute('data-highchartfinaljson') || '[]';
               var myChart = Highcharts.chart(val, JSON.parse(finalJson));
            })
         })
         $('#canvas').on('click', function () {
            html2canvas(document.body, {}).then(canvas => {
               html2canvas(document.body, {}).then(canvas => {
                  document.body.appendChild(canvas);
                  getCanvas = canvas;
                  var imgageData = getCanvas.toDataURL('image/png');
                  var newData = imgageData.replace(
                     /^data:image\/png/,
                     'data:application/octet-stream'
                  );
                  // console.log(newData);
                  document.getElementById('canvas').setAttribute("data-title", newData);
                  /**
                   * remove canvas and link after download
                   */
                  document.querySelector('canvas').remove();
               });
            });
         });
      </script>
   </body>

</html>