<!doctype html>
<html lang="en">
   <script>
      function DoCheckUncheckDisplay(d,dchecked,dunchecked)
      {
         if( d.checked == true )
         {
            document.getElementById(dchecked).style.display = "block";
            document.getElementById(dunchecked).style.display = "none";
         }
         else
         {
            document.getElementById(dchecked).style.display = "none";
            document.getElementById(dunchecked).style.display = "block";
         }
      }
      </script>


<head>
   {{ turbo() }}
   <meta charset="utf-8">
   <title>NKT - L3OUT</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css"
      href="{{ url_for('static',filename='assets/cui-2.0.0/css/cui-standard.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/frame.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/style.css') }}">
   <style>
      .chevron ul.tabs li.active a {
         background-color: #017cad !important;
         opacity: 1 !important;
         color: #ffffff;
         box-shadow: none !important;
      }

      .chevron ul.tabs li a {
         height: 56px min-width: 90% !important;
         padding: 10px 6px;
         background-color: #ffffff;
         opacity: 1 !important;
         color: #58585d;
         text-align: center;
         position: relative;
         line-height: 16px;
         font-size: 12px;
         cursor: pointer;
         flex: 1 !important;
         flex-shrink: 1 !important;
         flex-wrap: wrap !important;
         display: flex !important;
         justify-content: center !important;
      }
   </style>
</head>

<form id="mainForm" name="mainForm" method="post" action="/l3out">

   <body class="cui cui--animated cui--compressed" data-theme="">
      <div id="oneui">
         <!-- Main Content -->
         <header class="header" id="_uid818d10e3">
            <div class="container">
               <div class="header-panels">
                  <div class="header-panel"><a href="http://www.cisco.com" target="_blank" class="header__logo"
                        id="_uid5a704e92"><span class="icon-cisco"></span></a>
                     <div class="header__title">Nexus Kubernetes Tools - Version {{session['version']}}</div>
                  </div>
                  <div class="header-panel header-panel--right"><a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform"
                        href="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform"
                        data-hreftitle="Source Code" title="Source Code" class="header-item"
                        id="_uidb14b144f">GitHub</a><a data-hreftarget="_self" target="_self"
                        data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/issues"
                        href="https://aci-github.cisco.com/ddastoli/calico_aci/issues" data-hreftitle="Open An Issue"
                        title="Open An Issue" class="header-item" id="_uid2e094e7e">Open An Issue</a></div>
               </div>
            </div>
         </header>
         <div class="flexrow">
            <div class="cell"></div>
            <div class="cell"> </div>
         </div>

         <div class="container bg-gray">
            <h2>L3out Details</h2>
            <p>
               <br> NKT will configure a Floating L3out in the ACI fabric.
               <br> The Floating L3out will be used to peer the K8s Nodes with ACI via eBGP.
               <br> Calico BGP nodes will advertise to ACI the node, pod and services subnets.
               <br> <b>Note</b>: The Tenant, VRF and Physical Domain needs to be pre-configured on ACI.
               <br> This is done to ensure you can re-use pre-existing infrastructure and minimize the risk of
               accidental deletions.

            </p>

         </div>
         <div class="container">
            <div class="form-group base-margin-bottom">
               <div class="form-group__text">
                  <input list="l3out_tenant_list" id="l3out_tenant" name="l3out_tenant"
                     onchange="if(this.value.length>0) this.form.requestSubmit()" />
                  <datalist id="l3out_tenant_list">
                     {% for o in tenants %}
                     <option value="{{ o }}">
                        {% endfor %}
                  </datalist>
                  <label 
                     for="l3out_tenant">Tenant name:
                     <span data-title="Name of the tenant where we NKT will create the floating L3OUT SVI">ⓘ</span>
                  </label>
               </div>
            </div>
         </div>

         

         {% include "_vrf.html" %}

         <div class="container">
            <div class="form-group base-margin-bottom">
               <div class="form-group__text">
                  <select id="physical_dom" name="physical_dom">
                     {% for o in phys_dom %}
                     <option name="{{ o }}">{{ o }} </option>
                     {% endfor %}
                  </select><label for="physical_dom">Physical Domain for Floating SVI:
                     <span data-title="The physical domain that will be associated to the Floating SVI.">ⓘ</span>
                  </label>
               </div>
            </div>
         </div>

         <div class="container">
            <div class="form-group base-margin-bottom">
               <div class="form-group__text">
                  <label
                     for="bgp_pass">IPv4 Cluster Subnet:
                     <span data-title="The IPv4 subnet for you cluster. This subnet should be able to be routable and reach internet to pull the container images.">ⓘ</span>
                  </label>
                  <input type="text" id="ipv4_cluster_subnet" name="ipv4_cluster_subnet" value="192.168.0.0/24" onchange="updateAnchorNodeIPv4(this)">
               </div>
            </div>
         </div>
                  <!--advanced tab for L3out-->
                  <div class="form-group base-margin-bottom">
                     <div class="form-group__text"></div>
                  </div>
                  <div class="container">
                     <div class="checkbox form-group form-group--inline c8041">
                        <label class="checkbox">
                        <input type="checkbox" onclick="DoCheckUncheckDisplay(this,'checkbox-checked','checkbox-unchecked')" style="margin:0;">
                        <span id='advanced' class="checkbox__input"></span>
                        <span class="checkbox__label hidden-xs">Advanced L3out Settings</span>
                        </label>
                     </div>
                  </div>
                  <div id="checkbox-checked" style="display:none;" >     
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="name">L3out name:
                                 <span data-title="The name of the L3OUT that is going to be created">ⓘ</span>
                              </label>
                              <input type="text" id="name" name="name" value="CalicoL3OUT">
                           </div>
                        </div>
                     </div>
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <input  id="mtu" name="mtu" value=9000 type="number">
                              <label for="mtu"> Floating SVIs MTU
                                 <span data-title="This is the MTU configured on ACI and K8s Nodes, ensure the MTU matches on the vCenter and any devices placed between ACI and the ESXi host (i.e. UCS FI)">ⓘ</span>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <input type="text" id="local_as" name="local_as" value="{{ local_as }}" readonly class="bg-gray-200">
                              <label for="local_as">Detected ACI Local AS
                                 <span data-title="This is the BGP AS number that the K8s nodes will peer to">ⓘ</span>
                              </label>
                           </div>
                        </div>
                     </div>
            
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="def_ext_epg">External EPG Name (Catch All):
                                 <span data-title="For simplicity a single external EPG is created for all the subnets that belongs to the cluster. It is possible however to manually more external EPG and apply more specific contracts to better secure the cluster/pod/service networking">ⓘ</span>
                              </label>
                              <input type="text" id="def_ext_epg" name="def_ext_epg" value="catch_all">
                           </div>
                        </div>
                     </div>
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label for="bgp_pass" >Password for BGP neighbors:
                                 <span data-title="Default 123Cisco123">ⓘ</span>
                              </label>
                              <input type="password" id="bgp_pass" name="bgp_pass" value="123Cisco123">
                           </div>
                        </div>
                     </div>
                     <div class="container">
                        <div class="form-group base-margin-bottom">
                           <div class="form-group__text">
                              <label  
                                 for="bgp_pass">IPv6 Cluster Subnet (Optional):
                                 <span data-title="The IPv6 subnet for you cluster. Currently IPv4 is used for internet connectivity so this subnet does not need to be routable outside of ACI" >ⓘ</span>
                              </label>
                              <input type="text" id="ipv6_cluster_subnet" name="ipv6_cluster_subnet" onchange="updateAnchorNodeIPv6(this)">
                           </div>
                        </div>
                     </div>
                     <div class="container">

                        <label data-cubexswitch="container" notcomponent="" class="switch">
                           <span class="switch__label">Scope for Ext EPG Subnets</span>
                        </label>
                        <div class="container"></div>
                        <div class="checkbox form-group form-group--inline c1793">
                           <label class="checkbox"><input type="checkbox" id="import-security" name="import-security"
                                 value="import-security" checked>
                              <span id="import-security-checkbox" class="checkbox__input" checked></span>
                              <span class="checkbox__label hidden-xs">External Subnets for External EPG</span>
                           </label>
                        </div>
                        <div class="checkbox form-group form-group--inline c1793">
                           <label class="checkbox"><input type="checkbox" id="shared-security" name="shared-security"
                                 value="shared-security" checked>
                              <span id="shared-security-checkbox" class="checkbox__input"></span>
                              <span class="checkbox__label hidden-xs">Shared Security Import Subnet</span>
                           </label>
                        </div>
                        <div class="checkbox form-group form-group--inline c1793">
                           <label class="checkbox">
                              <input type="checkbox" id="shared-rtctrl" name="shared-rtctrl" value="shared-rtctrl" checked>
                              <span id="shared-rtctrl-checkbox" class="checkbox__input"></span>
                              <span class="checkbox__label hidden-xs">Shared Route Control Subnet</span>
                           </label>
                        </div>
                     </div>         
                  </div>

         <p></p><p></p>

         <div id="dummy">
            {% include "_anchor_nodes.html" %}    
         </div>

         <div class="container">
            <div class="navibox">
               <input id="submit" type="submit" value="Next" class="btn btn--wide" name="button" style="margin-left: 10px;" onclick="saveInput()">
               <input type="submit" value="Previous" class="btn btn--wide" name="button" style="margin-left: 0px" onclick="saveInput()">
            </div>
         </div>
</form>
<div class="container">
   <footer class="footer footer--tertiary" id="_uidca388897">
      <div class="footer__links">
         <ul class="list list--inline" id="_uid08010aa3">
            <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank"
                  id="_uidbb5636c3">Contacts</a></li>
            <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank"
                  id="_uid92d9bfeb">Feedback</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank" id="_uidcbd80f09">Help</a></li>
            <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank" id="_uid134ab5bc">Site Map</a>
            </li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank"
                  id="_uidf3e2c0a6">Terms &amp; Conditions</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank"
                  id="_uide8b9adf9">Privacy Statement</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank"
                  id="_uid5580971c">Cookie Policy</a></li>
            <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank"
                  id="_uidbe7db422">Trademarks</a></li>
         </ul>
      </div>
   </footer>
</div>



<div class="form-group base-margin-bottom"></div>
<main class="c549">
   <div></div>
</main>
<!-- End Main Content -->
</div>
<script>
   function updateAnchorNodeIPv4(button, condition) {
      if (condition === true) {
         if (document.getElementById('node_ipv4').value === null || document.getElementById('node_ipv4').value === "") {
            document.getElementById('node_ipv4').value = document.getElementById('ipv4_cluster_subnet').value
            console.log("ipv4")
         }
         else
            console.log(document.getElementById('ipv4_cluster_subnet').value)
      }
      else  {
         document.getElementById('node_ipv4').value = document.getElementById('ipv4_cluster_subnet').value
         console.log("ipv4")
      }
   }

   function updateAnchorNodeIPv6(button, condition) {
      if (condition === true) {
         if (document.getElementById('node_ipv6').value === null || document.getElementById('node_ipv6').value === "") {
            document.getElementById('node_ipv6').value = document.getElementById('ipv6_cluster_subnet').value
            console.log("ipv6")
         }
         else
            console.log(document.getElementById('ipv6_cluster_subnet').value)
      }
      else {
         document.getElementById('node_ipv6').value = document.getElementById('ipv6_cluster_subnet').value
         console.log("ipv6")
      }
   }
   updateAnchorNodeIPv4();
   updateAnchorNodeIPv6();

   // Create a mutation observer for IPv4 and IPv6
   // const IPv4 = document.getElementById('node_ipv4')
   // const IPv6 = document.getElementById('node_ipv6_subnet')
   const dummy = document.getElementById('dummy')

   const observer = new MutationObserver((mutationsList, observer) => {
      for (const mutation of mutationsList) {
         console.log(mutation.type)
         if (mutation.type === "childList") {
            updateAnchorNodeIPv4(null, true);
            updateAnchorNodeIPv6(null, true);
         }
      }
      console.log('Mutation observer body is being ran!')
   })

   observer.observe(dummy, { attributes: true, childList: true, subtree: true })
</script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/jquery-3.0.0.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/lodash.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/clipboard.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/styleguide.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/highcharts.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/exporting.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/html2canvas.js') }}"></script>
<script src="{{ url_for('static',filename='assets/cui-2.0.0/js/functionLibrary.js') }}"></script>
<script>
   loadInput();
</script>
</body>

</html>