<!doctype html>
<html lang="en">


      

<head>
     {{ turbo() }}
   <meta charset="utf-8">
   <title>NKT - vCenter Details</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/cui-standard.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/frame.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/cui-2.0.0/css/style.css') }}">
   <style>
      .chevron ul.tabs li.active a {
         background-color: #017cad !important;
         opacity: 1 !important;
         color: #ffffff;
         box-shadow: none !important;
      }

      .chevron ul.tabs li a {
         height: 56px min-width: 90% !important;
         padding: 10px 6px;
         background-color: #ffffff;
         opacity: 1 !important;
         color: #58585d;
         text-align: center;
         position: relative;
         line-height: 16px;
         font-size: 12px;
         cursor: pointer;
         flex: 1 !important;
         flex-shrink: 1 !important;
         flex-wrap: wrap !important;
         display: flex !important;
         justify-content: center !important;
      }
   </style>
</head>

<form id="form_vcenter" name="tenantForm" method="post" action="/vcenter">
<script>
   function loadInputVCenter() {
      // console.log(JSON.stringify(sessionStorage, null, 2))
      dcElem = document.getElementById("dc");
      
      const path = window.location.pathname;
      const page = path.split("/").pop();

      // load in the vCenter DC Name
      retrievedVal = sessionStorage.getItem(page + " " + "dc")
      if (retrievedVal !== null && retrievedVal !== "") {
         dcElem.value = retrievedVal;
         dcElem.form.requestSubmit();
         console.log("if condition ran")
      }
      else 
         console.log("No saved value for vCenter DC Name")
   }

   const loadListener = document.addEventListener('turbo:load', function () {
      console.log("turbo:load fired");
      loadInputVCenter();

      const dummyC = document.getElementById('dummy_container')

      const observer = new MutationObserver((mutationsList, observered) => {
         // console.log('Mutation observer body is being ran!')
         loadInput();
         observer.disconnect();

         document.removeEventListener('turbo:load', null)

      })
      observer.observe(dummyC, { attributes: true, childList: true, subtree: true })
   });
</script>
  <body class="cui cui--animated cui--compressed" data-theme="">

   <div id="oneui">
      <!-- Main Content -->
      <header class="header" id="_uid818d10e3">
         <div class="container">
            <div class="header-panels">
               <div class="header-panel"><a href="http://www.cisco.com" target="_blank" class="header__logo" id="_uid5a704e92"><span class="icon-cisco"></span></a>
                  <div class="header__title">Nexus Kubernetes Tools - Version {{session['version']}}</div>
               </div>
               <div class="header-panel header-panel--right"><a data-hreftarget="_self" target="_self" data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform" href="https://aci-github.cisco.com/ddastoli/calico_aci/tree/pythonterraform" data-hreftitle="Source Code" title="Source Code" class="header-item" id="_uidb14b144f">GitHub</a><a data-hreftarget="_self" target="_self" data-hreflink="https://aci-github.cisco.com/ddastoli/calico_aci/issues" href="https://aci-github.cisco.com/ddastoli/calico_aci/issues" data-hreftitle="Open An Issue" title="Open An Issue" class="header-item" id="_uid2e094e7e">Open An Issue</a></div>
            </div>
         </div>
      </header>
      <div class="flexrow">
         <div class="cell"></div>
         <div class="cell"> </div>
      </div>
   <!--  vCenter Settings   -->       

         <div class="form-group base-margin-bottom">
            <div class="form-group__text"></div>
         </div>
         
            
         <div class="container bg-gray">

            <h2>vCenter Details</h2>
            <p> 
               <br> Insert the vCenter details: NKT will connect to a vCenter and deploy a K8s cluster.
               <br> The k8s cluster will automatically be configured with Calico using non overlay mode and leveraging BGP to advertise routes to ACI leaves.
               <br> Note: After selecting the vCenter Name it will take a couple of seconds to populate all the elements in the drop down menus.

            </p>
      
            </div>         
         <div class="container">
            <div class="form-group base-margin-bottom">
               <div  class="form-group__text">
                  <select id="dc" name="dc" onchange="if(this.value.length>0) this.form.requestSubmit()">
                     <option disabled selected value> -- select a DC -- </option>
                     {% for o in dcs %}
                     <option name="{{ o }}">{{ o }} </option>
                     {% endfor %}
                  </select>
                  <label for="dc">vCenter DC Name:
                     <span data-title="Select the DataCenter name in vCenter">ⓘ</span> 
                  </label>
               </div>
            </div>       
         </div>
         <div id="dummy_container">
            {% include "_vc_details.html" %}
         </div>

         <div class="container">
            <div class="navibox">
               <input id="submit" type="submit" value="Next" class="btn btn--wide" name="button" style="margin-left: 10px;" onclick="saveInput()">
               <input type="submit" value="Previous" class="btn btn--wide" name="button" style="margin-left: 0px" onclick="saveInput()">
            </div>
         </div>
   </form>

         <div class="container">
         <footer class="footer footer--tertiary" id="_uidca388897">
            <div class="footer__links">
               <ul class="list list--inline" id="_uid08010aa3">
                  <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank" id="_uidbb5636c3">Contacts</a></li>
                  <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank" id="_uid92d9bfeb">Feedback</a></li>
                  <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank" id="_uidcbd80f09">Help</a></li>
                  <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank" id="_uid134ab5bc">Site Map</a></li>
                  <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank" id="_uidf3e2c0a6">Terms &amp; Conditions</a></li>
                  <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank" id="_uide8b9adf9">Privacy Statement</a></li>
                  <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank" id="_uid5580971c">Cookie Policy</a></li>
                  <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank" id="_uidbe7db422">Trademarks</a></li>
               </ul>
            </div>
         </footer>
      </div>

      

      <div class="form-group base-margin-bottom"></div>
      <main class="c549">
         <div></div>
      </main>
      <!-- End Main Content -->
   </div>
   <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/jquery-3.0.0.min.js') }}"></script>
   <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/lodash.min.js') }}"></script>
   <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/clipboard.js') }}"></script>
   <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/styleguide.js') }}"></script> -->
   <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/highcharts.js') }}"></script> 
   <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/exporting.js') }}"></script> 
   <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/html2canvas.js') }}"></script> 
   <script src="{{ url_for('static',filename='assets/cui-2.0.0/js/functionLibrary.js') }}"></script>
   <script src="{{ url_for('static',filename='assets/js/utils.js') }}"></script>
   <div id="canvas"></div>
</body>
<script>
    $("#submit").on("click", function(){
        var url = "{{ url_for("vcenter")}}" + '?fabric_type=' + getUrlParameter('fabric_type');
        $("#form_vcenter").attr("action", url);
        $("#form_vcenter").submit();
    })
</script>
</html>
