[
    {
      "orchType": "Kubernetes",
      "clusterCert": "{{ca_cert}}",
      "clientCert": "{{user_cert}}",
      "host": "{{control_plane_vip}}",
      "userName": "{{ ndfc_k8s_user }}",
      "managed": "managed"
    }
]
