[
    {
      "orchType": "Kubernetes",
      "clusterCert": "",
      "clientCert": "",
      "host": "{{control_plane_vip}}",
      "userName": "{{ ndfc_k8s_user }}",
      "managed": "managed"
    }
]
